@tailwind base;
@tailwind components;
@tailwind utilities;

#gridContainer {
  display: grid;
  grid-template-rows: 90vh 10vh;
  width: 60vw;
  margin: auto;
  #messagesContainer {
    grid-row: 1/2;
    margin-left: auto;
    margin-right: auto;
  }

  #inputForm {
    grid-row: 2/3;
    width: 60%;
    margin: auto;
    padding-bottom: 1rem;
    padding-top: 1rem;
  }
}

@media (max-width: 720px) {
  #gridContainer {
    width: 90vw;

    #inputForm {
      width: 100%;
      margin: auto;
      padding: 0.5rem;
    }
  }
}
